---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";

/**************/
/* BASE RULES */
/**************/



.container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 10px;
  width: 100%;
}


.post {
  width: 160px;
  float: left;
  vertical-align: top;
  margin: 0 20px 0 0;
  height: 320px;
  overflow: hidden;
  @include mobile {
    margin: 0 20px;
    width: 300px;
  }
}

.post h1 {

  min-height: 60px;
  margin: 0 0 12px;
  letter-spacing: normal;
}
