


<footer id="footer-content" class="bg-grau">
  <div id="footer">
    <div class="row">

<img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}"  width=200 height=200 alt="{{ site.title }} – {{ site.slogan }}">


      <div class="medium-6 large-5 columns">
        <h5 class="shadow-black">Address</h5>

        <p>
Department of Computer Science and Engineering
<br>
Chalmers University of Technology and University of Gothenburg <br> Tel: +46 (0)31- 772 10 00 ,  
Postal code: SE-41296, Gothenburg, Sweden
        </p>
      </div>


<!--
      <div class="small-6 medium-3 large-3 large-offset-1 columns">
-->
        <!--
        {% for service_item in site.data.services %}
          {% if forloop.first == true %}
            <p class="shadow-black">{{ service_item.menu_name }}</p>
          {% endif %}
        {% endfor %}
        -->
<!--
          {% for service_item in site.data.services %}
            {% if service_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% assign domain = site.url + site.baseurl %}{% endif %}
               {% if service_item.class %}class="{{ service_item.class }}" {% endif %}
                <a href="{{ domain }}{{ service_item.url }}" {% if service_item.url contains 'http' %}target="_blank" {% endif %} title="{{ service_item.title }}">{{ service_item.name }}</a> |

          {% endfor %}
-->
<!--
      </div>
-->

<!--
      <div class="small-6 medium-3 large-3 columns">
-->
        {% for network_item in site.data.network %}
          {% if forloop.first == true %}
            <h5 class="shadow-black">{{ network_item.menu_name }}</h5>
          {% endif %}
        {% endfor %}

        <ul class="no-bullet shadow-black">
        {% for network_item in site.data.network %}
          {% if network_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% assign domain = site.url + site.baseurl %}{% endif %}
            <li {% if network_item.class %}class="{{ network_item.class }}" {% endif %}>
              <a href="{{ domain }}{{ network_item.url }}" {% if network_item.url contains 'http' %}target="_blank" {% endif %} title="{{ network_item.title }}">{{ network_item.name }}</a>
            </li>
        {% endfor %}
        </ul>
      </div>
<!--
    </div>
-->
  </div><!-- /#footer -->


  <div id="subfooter">
    <nav class="row">
      <section id="subfooter-left" class="small-12 medium-6 columns credits">
        {{ site.credits }}
      </section>

      <section id="subfooter-right" class="small-12 medium-6 columns">
        <ul class="inline-list social-icons">
        {% for social_item in site.data.socialmedia %}
          <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
        {% endfor %}
        </ul>
      </section>
    </nav>
  </div>

</footer>
