---
layout: home-grid
title: "People in our group"
permalink: "/people/"
header:
   image_fullwidth: title.jpg
---
{% for cat in site.category-list %}
<div class="posts clearfix">
  <div id="bkg-color3">
                        <h1>  <center>
                          {% if cat  =='former-member' %} Former Members  {% endif %}
                        
                          {% if cat  =='phd' %} PhD Students  {% endif %}

                          {% if cat  =='postdoc' %} Postdoc researchers  {% endif %}
                          {% if cat  =='professor' %} Faculty  {% endif %}
                        </center> </h1>
  </div>
<ul>
  {% assign sorted_pages = (site.pages | sort: 'fname') %}
  {% for page in  sorted_pages %}
      {% for pc in page.tags %}
        {% if pc == cat %}


          {% if page.website contains  'http' %}
      {% assign ws =  page.website %}
    {% else %}
      {% capture ws %}http://www.cse.chalmers.se/~{{ page.cid }}{% endcapture %}
    {% endif %}



    {% if page.publications contains  'http' %}
      {% assign pub =  page.publications %}
    {% else %}
      {% capture pub %}http://publications.lib.chalmers.se/rweb/index.xsql?personID={{ page.cid }}{% endcapture %}
    {% endif %}

    <article class="post">

      <div class="entry">
        <img src="{{ site.urlimg }}/people/{{ page.pic }}" width="970" width="1293" itemprop="image">
      </div>
      <a  class="small-link primary-link"  href="{{ ws }}">{{ page.fname }} {{ page.lname }}</a>
      </p>{{ em }}</p>
      <a  class="small-link primary-link"  href="{{ pub }}">Publications </a>

    <p class="text-left">
      <!-- <a href="{{ ws }}"><img  src="{{ site.url }}{{ site.baseurl }}/assets/icons/icon-website.svg" width="50" height="50"></a> -->
      {% if page.github %}<a href="{{ page.github }}"><img  src="{{ site.url }}{{ site.baseurl }}/assets/icons/icon-github.svg" width="30" height="30"></a>{% endif %}
      {% if page.linkedin %}<a href="{{ page.linkedin }}"><img  src="{{ site.url }}{{ site.baseurl }}/assets/icons/icon-linkedin.svg" width="30" height="37"></a>{% endif %}
      {% if page.researchgate %}<a href="{{ page.researchgate }}"><img  src="{{ site.url }}{{ site.baseurl }}/assets/icons/icon-researchgate.png" width="30" height="30"></a>{% endif %}
      {% if page.googlescholar %}<a href="{{ page.googlescholar }}"><img  src="{{ site.url }}{{ site.baseurl }}/assets/icons/icon-googlescholar.png" width="30" height="30"></a>{% endif %}
    </p>

    </article>

        {% endif %}   <!-- cat-match-p -->
      {% endfor %}  <!-- page-category -->
  {% endfor %}  <!-- page -->

</ul>
</div>
{% endfor %}  <!-- cat -->
