---
layout: default
header:
   image_fullwidth: title.jpg
---
<div id="header-home">
  <div class="row">
    <div class="small-12 columns">
    </div><!-- /.medium-4.columns -->
  </div><!-- /.row -->
</div><!-- /#header-home -->


<div id="bkg-color3">
  <center><h2><strong>List of Projects</strong></h2></center>
</div>


<!-- project section -->
<div id="bkg-color2">
  <div class="row">

    <div class="medium-6 columns">
      <ul class="side-nav">
        <li><a href="https://research.chalmers.se/en/project/6231"><strong>AppFlow</strong>: Putting Information Flow Control to Work</a></li>
        <li><a href="https://research.chalmers.se/en/project/6239"><strong>BEAT</strong>: Biometric Evaluation and Testing</a></li>
        <li><a href="http://www.cse.chalmers.se/~aikmitr/Projects.html"><strong>CRYPTACUS</strong>: CRYPTAnalysis of ubiquitous CompUting Systems</a></li>
        <li><a href="https://research.chalmers.se/en/project/6221"><strong>DataBin</strong>: Data-Driven Secure Business Intelligence</a></li>
        <li><a href="https://research.chalmers.se/project/6238"><strong>DecentLP</strong>: Robust decentraliserad plats-sekretess</a></li>
        <li><a href="https://research.chalmers.se/project/7125"><strong>FlexCSP</strong>: Putting Content Security Policy to work for Practical Web Applications</a></li>
        <li><a href="https://research.chalmers.se/en/project/8635"><strong>FlowShield</strong>: Securing Web Applications by Information Flow Tracking</a></li>
        <li><a href="https://research.chalmers.se/en/project/5809"><strong>Heavens</strong>: HEAling Vulnerabilities to ENhance Software Security and Safety</a></li>
        <li><a href="https://research.chalmers.se/en/project/8567"><strong>KIDSAM</strong>: Knowledge- and information-sharing in digital collaborative projects</a></li>
        <li><a href="http://www.cse.chalmers.se/~gersch/"><strong>PolUser</strong>: Rich User-Controlled Privacy Policies</a></li>
        <li><a href="http://www.cse.chalmers.se/~aikmitr/Projects.html"><strong>PPIDR</strong>: Privacy Preserving Intrusion Detection and Response In Wireless Communications</a></li>
        <li><a href="https://research.chalmers.se/en/project/6237"><strong>PRECIS</strong>: Privacy and Security in Wearable Computing Devices</a></li>
        <li><a href="https://research.chalmers.se/en/project/8634"><strong>PrinSec</strong>: Principled Security for Emerging Application Domains</a></li>
      </ul>
    </div><!-- /.medium-7.columns -->


    <div class="medium-6 columns">
      <ul class="side-nav">
        <li><a href="https://www.chalmers.se/sv/projekt/Sidor/FIoT.aspx"><strong>PriSecIoT</strong>: Security and Privacy for the Future Internet of Things</a></li>        
        <li><a href="https://research.chalmers.se/project/5376"><strong>PROSECUTOR</strong>: Programming Language-Based Security To Rescue</a></li>
        <li><a href="https://research.chalmers.se/project/6438"><strong>RICS</strong>: Säkra IT-system för drift och övervakning av samhällskritisk infrastruktur</a></li>
        <li><a href="https://research.chalmers.se/en/project/8566"><strong>RIOT</strong>: Resilient Internet of Things</a></li>
        <li><a href="https://www.chalmers.se/sv/projekt/Sidor/SEAFRONT.aspx"><strong>SEAFRONT</strong>: Secure, Private, Fast and Reliable Wireless Communications</a></li>
        <li><a href="http://www.foi.se/en/Our-Knowledge/Information-Security-and-Communication/Information-Security/Projects/SECURIT/"><strong>Securit</strong>: Security Culture and Information Technology</a></li>
        <li><a href="https://research.chalmers.se/en/project/6225"><strong>Sefram</strong>: Security Framework for Vehicles</a></li>
        <li><a href="https://research.chalmers.se/en/project/6257"><strong>SwissSenseSynergia</strong>: provide a unifying framework for secure localisation and privacy-preserving location-based services</a></li>
        <li><a href="https://research.chalmers.se/project/7801"><strong>UNITED-GRID</strong>: Integrated cyber-physical solutions for intelligent distribution grid with high penetration of renewables</a></li>
        <li><a href="https://research.chalmers.se/en/project/8574"><strong>WebSec</strong>: Securing Web-driven Systems</a></li>
        <li><a href="http://www.cse.chalmers.se/~aikmitr/Projects.html"><strong>Others</strong>:
 	    Secure, Private and Efficient Healthcare with Wearable Computing,
 	    Large-scale private adaptive experiments for drug discovery,
 	    Authentication in Constrained Settings,
 	    Cross-layer Authentication Protocols for Wireless Networks</a></li>
      </ul>
    </div><!-- /.medium-7.columns -->
  </div><!-- /.row -->
</div>
<!-- end project section -->
